// Transition Mixin
@mixin transition($properties: all, $duration: 0.3s, $timing: ease-in-out, $delay: 0s) {
  -webkit-transition: $properties $duration $timing $delay;
  -moz-transition: $properties $duration $timing $delay;
  -o-transition: $properties $duration $timing $delay;
  transition: $properties $duration $timing $delay;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media only screen and (min-width: 576px) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == 'xlarge' {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == 'xxlarge' {
    @media only screen and (min-width: 1800px) {
      @content;
    }
  }
}
