$font-primary: 'Open Sans', sans-serif;
$mine-shaft: #333333;
$white: #ffffff;
$black: #000000;
$alabaster: #fafafa;
$concrete: #f3f3f3;
$picton-blue: #339beb;
$sunset-orange: #ff5349;
$overlay-bg-color: #000000e6;
$header-bg-color: #0000001a;
$header-bg-color--dark: #1e1e1ecc;
