$font-primary: 'Open Sans', sans-serif;
$font-color: #333333;
$white-color: #ffffff;
$footer-bg-color: #fafafa;
$footer-border-color: #f3f3f3;
$link-color: #55acee;
$link-hover-color: #339beb;
$heading-highlight-color: #339beb;
